Book/.vs/
Book/Book/bin/
Book/Book/obj/
Book/Grades.Test/bin/
Book/Grades.Test/obj/
Book/packages/MSTest.TestAdapter.1.3.2/build/_common/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.dll
Book/packages/
c_plus_plus/YouTube/.vs/
c_plus_plus/YouTube/Debug/
/.vs/
ConsoleApp1/.vs/ConsoleApp1/v15/.suo
ConsoleApp1/.vs/
ConsoleApp1/ConsoleApp1/bin/
ConsoleApp1/ConsoleApp1/obj/
ConsoleApp2/.vs/ConsoleApp2/v15/.suo
ConsoleApp2/.vs/
ConsoleApp2/ConsoleApp2/bin/
ConsoleApp2/ConsoleApp2/obj/
ConsoleApp3/.vs/
ConsoleApp3/ConsoleApp3/bin/
ConsoleApp3/ConsoleApp3/obj/
ConsoleApp4/.vs/
ConsoleApp4/ConsoleApp4/bin/
ConsoleApp4/ConsoleApp4/obj/
ConsoleApp5/.vs/
ConsoleApp5/ConsoleApp5/
ConsoleApp6/.vs/
ConsoleApp6/ConsoleApp6/obj/
ConsoleApp7/.vs/
ConsoleApp7/ConsoleApp7/bin/
ConsoleApp7/ConsoleApp7/
FactoryPattern/ConsoleApp1/.vs/
FactoryPattern/ConsoleApp1/ConsoleApp1/obj/
ForModernClass/ConsoleApplication1/.vs/
MicroSoftTutorial/Acme.Collections.Stack/.vs/
MicroSoftTutorial/Acme.Collections.Stack/Acme.Collections.Stack/bin/
MicroSoftTutorial/Acme.Collections.Stack/Acme.Collections.Stack/obj/
Movie_Converter/MovieConverter/.vs/
Movie_Converter/MovieConverter/MovieConverter/bin/
Movie_Converter/MovieConverter/MovieConverter/obj/
SchedulerApp/.vs/
SchedulerApp/SchedulerApp/bin/
SchedulerApp/SchedulerApp/obj/
strategyPattern/StrategyPattern/.vs/
strategyPattern/StrategyPattern/StrategyPattern/bin/
strategyPattern/StrategyPattern/StrategyPattern/obj/
WpfApp1/.vs/
WpfApp1/WpfApp1/bin/
WpfApp1/WpfApp1/obj/
WpfApp2/.vs/
WpfApp2/WpfApp2/bin/
WpfApp2/WpfApp2/obj/
WpfApp3/.vs/
WpfApp3/WpfApp3/bin/
WpfApp3/WpfApp3/obj/
